*,
*:before,
*:after {
    box-sizing: border-box;
}

:root {
    --ff--body: 'Noto Sans JP', sans-serif;
    --ff--title: 'Oswald', sans-serif;

    --ff--color-primary: #1b1b1b;
    --ff--color-secondary: #d5cecd;

    --color-background: #352f2b;
    --color-background-gradient: linear-gradient(180deg, rgb(204, 134, 30) 20%, rgb(138, 56, 9) 80%);
    --color-primary: #96400e;
    --color-secondary: #d46a23;
}

body {
    font-family: var(--ff-body);
    color: var(--ff--color-secondary);
    font-size: 1rem;
}

h1 {
    font-family: var(--ff--title);
    font-weight: 700;
    font-size: 3rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    white-space: normal;
}

button a{
    color: var(--ff--color-secondary);
}

hr {
    border-top: 2px solid var(--color-secondary);
}

#about span {
    color: var(--color-secondary)
}

.container-fluid {
    background-color: var(--color-background);
    border: 1px solid black;
}

@media(min-width:992px){
    body {
        font-size: 1rem;
    }

    h1 {
        font-size: 6rem;
    }
}

#sideNav #headerTitle {
    font-family: var(--ff--title);
    font-size: 2rem;
    letter-spacing: 0.5rem;
}

#sideNav figcaption {
    font-family: var(--ff--title);
    color: var(--ff--color-secondary);
}

.subheading {
    font-family: var(--ff--body);
}

#sideNav {
    background: var(--color-background-gradient);
}

#sideNav .navbar-nav .nav-item .nav-link {
    font-weight: 500;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}

#sideNav .navbar-toggler:focus {
    outline-color: #d48a6e;
}

@media (min-width: 992px) {
    #sideNav {
        background: var(--color-background-gradient);
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        width: 18rem;
        height: 100vh;
    }

    #sideNav .navbar-brand {
        display: flex;
        margin: auto auto 0;
        padding: 0.5rem;
    }

    #sideNav .navbar-brand .img-profile {
        max-width: 10rem;
        max-height: 13rem;
        border: 0.7rem solid rgba(255, 255, 255, 0.2);
        border-radius: 50%;
    }

    #sideNav .navbar-collapse {
        display: flex;
        align-items: flex-start;
        flex-grow: 0;
        width: 100%;
        margin-bottom: auto;
    }

    #sideNav .navbar-collapse .navbar-nav {
        flex-direction: column;
        width: 100%;
    }

    #sideNav .navbar-collapse .navbar-nav .nav-item {
        display: block;
    }

    #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
        font-family: var(--ff--title);
        display: block;
        font-size: 1rem;
    }
}

.social-icons .social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #495057;
    color: #fff;
    border-radius: 100%;
    font-size: 1.5rem;
    margin-right: 1.5rem;
}

.social-icons .social-icon:last-child {
    margin-right: 0;
}

.social-icons .social-icon:hover {
    background-color: #bd5d38;
}

.dev-icons {
    font-size: 1.1rem;
}

.list-icons span {
    font-size: 0.9rem;
    margin: 0 10px;
    display: inline-block;
    font-family: var(--ff--title);
    opacity: 0;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    max-width: 0;
    min-width: 0;
    text-decoration: none;
    vertical-align: middle;
    transition: max-width 1s ease-out .1s, opacity 1.5s ease-out .1s, margin .1s ease-out .1s;

}

.list-icons i:hover span {
    opacity: 1;
    min-width: 0;
    max-width: 600px;
    margin: 10px;
    vertical-align: middle;
    transition: max-width 1s ease-out .1s, opacity 1.5s ease-out .1s, margin .1s ease-out .1s;
}


section.resume-section {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 12rem;
    padding-bottom: 5rem;
    max-width: 75rem;
}

section.resume-section .resume-section-content {
    width: 100%;
}

section.resume-section .subheading {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.2rem;
}

section.resume-section .subheading a {
    color: var(--color-secondary);
    text-decoration-color: initial;
    background-color: transparent;
    text-transform: none;
}


section .section-title, 
.resume-section-content h3, 
.resume-section-content h4{
    font-family: var(--ff--title);
    text-transform: uppercase;
}

section .section-title{
    font-size: 3.4rem;
    text-transform: uppercase;
}


@media (min-width: 768px) {
    section.resume-section {
        min-height: 100vh;
    }

    .dev-icons {
        font-size: 1.8rem;
    }
    
    .list-icons span {
        font-size: 2rem;
    }
}

@media (min-width: 992px) {
    section.resume-section {
        padding-left: 3rem;
        padding-right: 3rem;
        padding-top: 5rem;
        padding-bottom: 5rem;
        margin-left: 20rem;
    }

    section .section-title{
        font-size: 3rem;
    }
}

