*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --ff--color-primary: #1b1b1b;
  --darkreader-text--ff--color-secondary: #cdc8c2;
  --ff--color-tertiary: #b3acaa;
  --ts--black: 3px 2px 4px black;
  --darkreader-bg--color-background: #2f3233;
  --nav-color-gradient: linear-gradient(
    45deg,
    #701c19 20%,
    #8d2421 60%,
    #9f431e 80%
  );
  --footer-color-gradient: linear-gradient(
    180deg,
    #701c19 20%,
    #8d2421 60%,
    #9f431e 80%
  );
  --darkreader-text--color-primary: #f09e6e;
  --darkreader-border--color-primary: #be581e;
  --darkreader-text--color-secondary: #e9503b;
  --darkreader-border--color-secondary: #a62d1d;
  --darkreader-bg--color-background-form: #414546;
}

/* body > #section-nav {
  flex: 0 1 auto;
  background-color: #faaca8;
  background-image: var(--nav-color-gradient);
}

body > #section-main {
  flex: 1 1 auto;
  background-color: var(--darkreader-bg--color-background);
  border-color: rgb(145, 136, 121);
}

body > #section-bottom {
  flex: 0 1 40px;
  background-color: #faaca8;
  /* background-color: #FAACA8; */
  /* background-image: var(--darkreader-text--color-secondary); */
  /* background-image: var(--footer-color-gradient); 
}*/


/* *************************************TOP PAGE****************************************** */



.box {
  width: 90%;
  margin: 1rem;
  justify-content: center;
  align-items: center;
  border: 0.2rem solid var(--darkreader-border--color-primary);
  padding: 0.5rem;
  box-shadow: 0 25.6px 57.6px 0 rgb(0 0 0 / 22%),
    0 4.8px 14.4px 0 rgb(0 0 0 / 18%);
}

#page-top {
}

/* *********************************MAIN PAGE******************************************* */

#main-content {

}

#resume-section-content {
}

/* ***********************************BUTTON PAGE******************************************* */

#page-button {
}

/* ****************************************************************************************** */
