*,
*:before,
*:after {
    box-sizing: border-box;
}

:root {
    --ff--body: 'Noto Sans JP', sans-serif;
    --ff--title: 'Roboto Condensed', sans-serif;

    --ff--color-primary: #F8F8F8;
    --ff--color-secondary: #CDD5D1;

    --color-initial: #B4A6AB;
    --color-primary: rgb(32, 18, 22);
    --color-secondary: #576066;
    --color-tertiary: #2C514C;
    --color-quaternary: #;
}

body {
    background-color: var(--color-initial);
    font-family: var(--ff-body);
    color: var(--ff--color-primary);
    font-size: 0.4rem;
}

h1 {
    font-size: 0.75rem;
    text-align: center;
    text-decoration: underline;
}

h2, h3, h4 {
    text-align: center;
    text-decoration: underline;
    font-size: 0.6rem;
}

.container-fluid {
    background-color: var(--color-initial);
    border: 1px solid black;
}

@media(min-width:740px){
    body {
        font-size: 0.7rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2, h3, h4 {
        font-size: 1.3rem;
    }
}

#sideNav {
    background-color: var(--color-primary);
}

#sideNav #headerTitle {
    font-family: var(--ff--title);
    font-weight: 700;
    letter-spacing: 0.3rem;
    white-space: normal;
}

#sideNav .navbar-nav .nav-item .nav-link {
    font-weight: 800;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
}

#sideNav .navbar-toggler:focus {
    outline-color: #d48a6e;
}

@media (min-width: 992px) {
    #sideNav {
        background-color: var(--color-primary);
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        width: 17rem;
        height: 100vh;
    }

    #sideNav .navbar-brand {
        display: flex;
        margin: auto auto 0;
        padding: 0.5rem;
    }

    #sideNav .navbar-brand .img-profile {
        max-width: 10rem;
        max-height: 10rem;
        border: 0.5rem solid rgba(255, 255, 255, 0.2);
    }

    #sideNav .navbar-collapse {
        display: flex;
        align-items: flex-start;
        flex-grow: 0;
        width: 100%;
        margin-bottom: auto;
    }

    #sideNav .navbar-collapse .navbar-nav {
        flex-direction: column;
        width: 100%;
    }

    #sideNav .navbar-collapse .navbar-nav .nav-item {
        display: block;
    }

    #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
        display: block;
    }
}

.social-icons .social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #495057;
    color: #fff;
    border-radius: 100%;
    font-size: 1.5rem;
    margin-right: 1.5rem;
}

.social-icons .social-icon:last-child {
    margin-right: 0;
}

.social-icons .social-icon:hover {
    background-color: #bd5d38;
}

.dev-icons {
    font-size: 3rem;
}

section.resume-section {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    max-width: 75rem;
}

section.resume-section .resume-section-content {
    width: 100%;
}

@media (min-width: 768px) {
    section.resume-section {
        min-height: 100vh;
    }
}

@media (min-width: 992px) {
    section.resume-section {
        padding-left: 3rem;
        padding-right: 3rem;
        padding-top: 5rem;
        padding-bottom: 5rem;
        margin-left: 20rem;
    }
}
