/********************** START MAIN CONTENT - PROJECTS SECTION ***************************/

#projects-container {
  font-family: var(--font-body);
  justify-content: flex-start;
  width: 95%;
}

.section-project-title {
  font-size: var(--size-projects-title);
}

#project-list {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  align-content: space-around;
  justify-content: flex-start;
}

#project-list li {
  text-align: center;
  flex: 0 1 50%;
  margin-bottom: 3px;
  text-align: -webkit-center;
}

.projects-item {
  position: relative;
  width: 98%;
  filter: drop-shadow(2px 4px 6px black);
}

.projects-item:hover .projects-hover {
  opacity: 1;
}

.projects-item .projects-hover {
  height: 100%;
  position: absolute;
  padding: 10px 4px;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background: rgb(33 12 2 / 77%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; 
  text-align: center;
  opacity: 0;
  transition: opacity ease-in-out 0.25s;
}

.projects-header {
  text-transform: uppercase;
  color: var(--neon-green);
  font-size: var(--size-projects-header);
}

.projects-subheader {
  flex: 0 1 100%;
  font-style: italic;
  font-size: var(--size-projects-description);
}

.projects-link-external {
  font-size: var(--size-projects-links);
}

.projects-link-external a {
  color: var(--white);
  text-decoration: underline;
}

.projects-link-external:after {
  content: "\2197";
  color: var(--white);
  text-decoration: underline;
}

.projects-link-external:hover a {
  color: var(--neon-green);
}

.projects-link-external:hover:after {
  color: var(--neon-green);
  text-decoration: underline;
}

.projects-link-external .disabled {
  pointer-events: none !important;
  color: var(--gray) !important;
}

.projects-link-external:hover:after .disabled {
  pointer-events: none !important;
  color: var(--gray) !important;
}

/********************** START MEDIA CONTENT - PROJECTS SECTION ***************************/

@media only screen and (min-width: 786px) {
  #projects-container {
    padding-block-start: 3.5rem;
    height: 85%;
  }

  #project-list li {
    flex: 0 1 25%;
  }

  .projects-item {
    /* width: 70%; */
    width: 90%;
    height: 12rem;
    margin: 2px;
  }

  .projects-item .projects-hover {
    padding: 10px 5px;
  }
}

/********************** END MEDIA CONTENT - PROJECTS SECTION ***************************/
/********************** END MAIN CONTENT - PROJECTS SECTION ***************************/