*,
*:before,
*:after {
    box-sizing: border-box;
}

:root {
    --ff--body: 'Noto Sans JP', sans-serif;
    --ff--title: 'Oswald', sans-serif;

    --ff--color-primary: #1b1b1b;
    --ff--color-secondary: #CDD5D1;

    --color-background: #2b3335;
    --color-primary: #0f707a;
    --color-secondary: #24acc4;
}

body {
    background-color: var(--color-background);
    font-size: 0.4rem;
    color: var(--ff--color-secondary);
    font-weight: 500;
}

h1 {
    font-family: var(--ff--title);
    font-size: 0.75rem;
    text-align: center;
    text-decoration: underline;
    color: var(--ff--color-secondary);
}

h2, h3, h4 {
    font-family: var(--ff--title);
    text-align: center;
    text-decoration: underline;
    font-size: 0.6rem;
}

table {
    font-family: var(--ff-body);
    color: var(--ff--color-primary);
}

.container-fluid {
    border: 1px solid black;
}

#goto-section {
    background-color: rgba(141, 141, 141, 0.24);
    z-index: 999;
    border: none;
    text-align: center;
}

#goto-section a {
    background-color: #2b3335;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.4rem;
    color: white;
    transition: 0.3s;

}#goto-section a:hover{
    background-color: #1b2122;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
}

@media(min-width:740px){
    body {
        font-size: 1rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2, h3, h4 {
        font-size: 1.3rem;
    }

    #goto-section a {
        font-size: 1rem;
    }
}