:root {
    /* Pallete: https://coolors.co/2d3142-bfc0c0-ffffff-ef8354-4f5d75 */

    --font-family: 'Josefin Sans', sans-serif;
    --font-family-logo: 'Molle', cursive;

    --font-clr-light: #FFFFFF;
    --font-clr-dark: #4F5D75;
    --font-clr-theme: #3a404e;

    --font-shadow-dark: black 7px 7px 7px;
    --font-shadow-light: #505050 2px 2px 1px;

    --clr-light-background: #BFC0C0;
    --clr-dark-1-background: #2D3142;
    --clr-dark-2-background: #262933;
    --clr-dark-3-background: #3a3f4e;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    font-size: 1rem;
    margin: 0;
    text-align: left;
    background-color: var(--clr-dark-1-background);
    color: var(--font-clr-dark);
    position: relative;
    overflow-x: hidden;
}

/***************************** 
    NAV SETTINGS  
******************************/

#main-nav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--clr-light-background);
}

#main-nav a {
    color: var(--clr-dark-1-background);
}

#main-nav .navbar-toggler {
    padding: 0.75rem;
    font-size: 1rem;
    background-color: var(--font-clr-dark);
    text-transform: uppercase;
    border: 0;
    border-radius: 10px;
}

#main-nav .navbar-brand {
    color: var(--font-clr-dark);
    font-weight: 700;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    /* word-break: keep-all; */
    white-space: normal;
    position: relative;
    left: 0px;
}

#main-nav .navbar-nav .nav-item .nav-link {
    font-size: 1.3rem;
    color: var(--font-clr-dark);
    letter-spacing: 0.07em;
    position: relative;
    left: 50px;
    margin: 0 15px;
}

#main-nav .navbar-nav .nav-item .nav-link.active, 
#main-nav .navbar-nav .nav-item .nav-link:hover {
    cursor: pointer;
    text-decoration: underline;
    text-shadow: var(--font-shadow-light);
}

#main-nav #navbarResponsive {
    margin-left: -65px;
}

@media (min-width: 992px) {
    #main-nav {
        font-size: 1.2rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        border: none;
        background-color: transparent;
        text-shadow: var(--font-shadow-dark);
        transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
    }
    
    #main-nav .nav-item {
        font-size: 1.3rem;
    }

    #main-nav .navbar-nav .nav-item .nav-link {
        color: var(--font-clr-light);
        left: 60px;
        margin: 0 15px;
        width: max-content;
    }

    #main-nav .navbar-brand {
        font-size: 1.3em;
        transition: font-size 0.3s ease-in-out;
        color: var(--font-clr-light);
        right: 310px;
    }

    #main-nav.navbar-shrink {
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-bottom: solid;
        border-color: var(--font-clr-light);
        background-color: var(--clr-dark-1-background);
    }

    #main-nav.navbar-shrink .navbar-brand {
        font-size: 1.25em;
    }

    #main-nav .navbar-brand .nav-item {
        margin-right: 1rem;
    }

    #main-nav .navbar-nav .nav-item:last-child {
        margin-right: 0;
    }
}

/***************************** 
    HEADER SETTINGS  
******************************/

header.masthead {
    padding-top: 14.5rem;
    padding-bottom: 6rem;
    text-align: center;
    color: var(--font-clr-light);
    background-image: url(img/background1.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    margin: 0 -15px;
}

header.masthead .masthead-subheading {
    font-size: 5rem;
    font-style: italic;
    letter-spacing: 1.3rem;
    line-height: 3.5rem;
    margin-bottom: 25px;
    margin-top: 0.5em;
    font-family: var( --font-family-logo);
    text-shadow: var(--font-shadow-dark);
}

header.masthead .masthead-heading {
    font-size: 2rem;
    font-weight: 700;
    line-height: 3.25rem;
    margin-bottom: 2rem;
    text-shadow: var(--font-shadow-dark);
}

header.masthead #masthead-btn {
    font-size: 1em;
    white-space: normal;
    word-break: keep-all;
    padding: 10px;
    box-shadow: 4px 6px 8px 2px black;
    margin: 10px 25px 10px 45px;
}

header.masthead #masthead-btn:hover {
    background-color: rgb(80, 80, 80);
}

@media (min-width: 768px) {
    header.masthead {
        padding-top: 26rem;
        padding-bottom: 8.5rem;
    }

    header .container {
        margin-top: -12em;
    }

    header.masthead .masthead-subheading {
        font-size: 6.5rem;
        font-style: italic;
        line-height: 2.25rem;
        margin-bottom: 2rem;
        margin-top: -1em;
    }

    header.masthead .masthead-heading {
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 4.5rem;
        margin: 2rem;
    }

    header.masthead #masthead-btn {
        font-size: 1.2rem;
        padding: 8px;
        width: 160px;
    }
}

/***************************** 
    SKILLS SETTINGS  
******************************/

#skills {
    background-color: var(--clr-dark-3-background);
    padding: 30px 60px 15px 60px;
    font-size: 1rem;
    color: var(--font-clr-light);
}

#skills .section-heading {
    margin-top: 80px;
}

#skills .section-subheading {
    margin-bottom: 30px;
}

#skills .fa-stack {
    width: 3em;
    margin-bottom: -25px;
    margin-top: 45px;
}

#skills .skill-text {
    margin-bottom: 60px;
}


@media (min-width: 1100px){
    #skills .section-heading {
        font-size: 3rem;
        font-weight: 700;
    }

    #skills .section-subheading {
        font-size: 2rem;
    }

    #skills .row {
        margin: auto 20px auto 20px;
    }

    #skills .fa-stack {
        width: 6em;
    }

    #skills .skill-header {
        font-size: 1.3rem;
    }

    #skills .skill-text {
        font-size: 1rem;
    }
}

/***************************** 
    PORTFOLIO SETTINGS  
******************************/
#portfolio {
    background-color: var(--clr-dark-2-background);
    padding: 30px 60px 40px 60px;
    font-size: 1rem;
}

#portfolio .section-heading {
    color: var(--font-clr-light);
    padding-top: 80px;
    font-size: 2rem;
    font-weight: 700;
}

#portfolio .section-subheading {
    font-size: 2rem;
    margin: 0 30px 60px 30px;
}

#portfolio .portfolio-item {
    margin: 0 auto 30px auto;
    text-align: center;
    background-color: #fff;
    filter: drop-shadow(2px 4px 6px black);
}


#portfolio .portfolio-item .portfolio-link {
    position: relative;
    display: block;
    margin: 0 auto;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(80, 80, 80, 0.6);
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity ease-in-out 0.25s;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    font-size: 1.25rem;
    color: white;
}

#portfolio .portfolio-item .portfolio-link:hover .portfolio-hover {
    opacity: 1;
}

#portfolio .portfolio-item .img-fluid {
    width: 100%;
    min-height: 250px;
    max-height: 250px;
    object-fit: cover;
}

#portfolio .portfolio-item .portfolio-caption {
    padding: 1.5rem;
    text-align: center;
    background-color: var(--clr-dark-1-background);
    color: var(--font-clr-light);
}

#portfolio .portfolio-item .portfolio-caption .portfolio-caption-subheading {
    font-style: italic;
    margin-bottom: 12px;
}

#portfolio .portfolio-item .portfolio-caption .portfolio-link-external a{
    margin-top: 10px;
    color: var(--font-clr-light);
    font-size: 0.8rem;
}

#portfolio .portfolio-item .portfolio-caption .portfolio-link-external a:hover {
    cursor: pointer;
    color: grey;
}

#portfolio .portfolio-item .portfolio-caption .portfolio-link-external a::after {
    content: "  \2197";
    font-size: 1rem;
}

@media (min-width: 1100px) {
    #portfolio {
        width: 100%;
    }

    #portfolio .section-heading {
        font-size: 3rem;
    }

    #portfolio .section-subheading {
        font-size: 2rem;
        margin-bottom: 50px;
    }

    #portfolio .portfolio-item {
        max-width: 25rem;
    }

    #portfolio .portfolio-item .portfolio-caption-heading {
        font-size: 2.5rem;
    }

    #portfolio .portfolio-item .portfolio-caption-subheading {
        font-size: 1.8rem;
    }

    #portfolio .portfolio-item .portfolio-caption .portfolio-link-external a{
        font-size: 1rem;
    }
}

/***************************** 
    ABOUT ME SETTINGS  
******************************/
#about {
    background-color: var(--clr-dark-1-background);
    padding: 30px 60px 40px 60px;
    font-size: 1rem;
}

#about .section-heading {
    color: var(--font-clr-light);
    padding-top: 80px;
    font-size: 2rem;
    font-weight: 700;
}

#about .section-subheading {
    font-size: 2rem;
    margin: 0 30px 60px 30px;
}

.timeline {
    position: relative;
    padding: 0;
    list-style: none;
}

.timeline::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    content: "";
    background-color: #e9ecef;
}

.timeline > li {
    position: relative;
    min-height: 50px;
    margin-bottom: 50px;
}

.timeline > li:after,
.timeline > li:before {
    display: table;
    content: " ";
}

.timeline > li:after {
    clear: both;
}

.timeline > li .timeline-panel {
    position: relative;
    float: right;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline > li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline > li .timeline-panel:after {
    right: auto;
    left: 14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline .img-fluid {
    height: 66px;
    object-fit: cover;
}

.timeline > li .timeline-image {
    position: absolute;
    z-index: 100;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 0;
    text-align: center;
    color: white;
    border: 7px solid #e9ecef;
    border-radius: 100%;
    background-color: var(--font-clr-theme);
}

.timeline > li .timeline-image h4 {
    font-size: 10px;
    line-height: 14px;
    margin-top: 12px;
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline > li:last-child {
    margin-bottom: 0;
}

.timeline .timeline-heading h4 {
    margin-top: 0;
    color: var(--font-clr-light);
}

.timeline .timeline-heading h4.subheading {
    text-transform: none;
    color: var(--clr-light-background)
}

.timeline .timeline-body > ul,
.timeline .timeline-body > p {
    margin-bottom: 0;
}

@media(min-width: 768px) {
    #about .section-heading {
        font-size: 3rem;
    }

    #about .section-subheading {
        font-size: 2rem;
    }

    .timeline:before {
        left: 50%;
    }

    .timeline > li {
        min-height: 100px;
        margin-bottom: 100px;
    }

    .timeline > li .timeline-panel {
        float: left;
        width: 41%;
        padding: 0 20px 20px 30px;
        text-align: right;
    }

    .timeline .img-fluid {
        height: 86px;
        object-fit: cover;
    }

    .timeline > li .timeline-image {
        left: 50%;
        width: 100px;
        height: 100px;
        margin-left: -50px;
    }
    
    .timeline > li .timeline-image h4 {
        font-size: 13px;
        line-height: 18px;
        margin-top: 16px;
    }
    
    .timeline > li.timeline-inverted > .timeline-panel {
        float: right;
        padding: 0 30px 20px 20px;
        text-align: left;
        }
}

@media (min-width: 992px) {
    .timeline > li {
        min-height: 150px;
    }

    .timeline > li .timeline-panel {
        padding: 0 20px 20px;
    }

    .timeline .img-fluid {
        height: 136px;
        object-fit: cover;
    }

    .timeline > li .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -75px;
    }

    .timeline > li .timeline-image h4 {
        font-size: 18px;
        line-height: 26px;
        margin-top: 30px;
    }

    .timeline > li.timeline-inverted > .timeline-panel {
        padding: 0 20px 20px;
    }
}
    
@media (min-width: 1200px) {
    .timeline > li {
        min-height: 170px;
    }

    .timeline > li .timeline-panel {
        padding: 0 20px 20px 100px;
    }

    .timeline .img-fluid {
        height: 155px;
        object-fit: cover;
    }
    
    .timeline > li .timeline-image {
        width: 170px;
        height: 170px;
        margin-left: -85px;
    }

    .timeline > li .timeline-image h4 {
        margin-top: 40px;
    }

    .timeline > li.timeline-inverted > .timeline-panel {
        padding: 0 100px 20px 20px;
    }
}

/***************************** 
    CONTACT ME SETTINGS  
******************************/

section#contact {
    background-color: var(--clr-dark-3-background);
    padding: 30px 20px 40px 20px;
    font-size: 1rem;
}

section#contact .section-heading {
    color: var(--font-clr-light);
    padding-top: 80px;
    font-size: 2rem;
    font-weight: 700;
}

section#contact .section-subheading {
    font-size: 2rem;
    margin: 0 30px 60px 30px;
}

section#contact form#contactForm {
    margin: auto 50px auto 50px;
}

section#contact form#contactForm .form-group {
    margin-bottom: 1.5rem;
}

section#contact form#contactForm .form-group input,
section#contact form#contactForm .form-group textarea {
    padding: 1.25rem;
}
section#contact form#contactForm .form-group input.form-control {
    height: auto;
}
section#contact form#contactForm .form-group-textarea {
    height: 100%;
}
section#contact form#contactForm .form-group-textarea textarea {
    height: 100%;
    min-height: 10rem;
}
section#contact form#contactForm p.help-block {
    margin: 0;
}
section#contact form#contactForm .form-control:focus {
    border-color: var(--clr-light-background);
    box-shadow: none;
}

section#contact form#contactForm ::-webkit-input-placeholder {
    font-weight: 700;
}

section#contact form#contactForm :-moz-placeholder {
    font-weight: 700;
}

section#contact form#contactForm ::-moz-placeholder {
    font-weight: 700;
}

section#contact form#contactForm :-ms-input-placeholder {
    font-weight: 700;
}

#alerta-contacto {
    margin-top: 30px;
}

@media (min-width: 920px) {
    section#contact form#contactForm {
        margin: auto 300px auto 300px;
    }
}

.footer {
    text-align: center;
    font-size: 0.9rem;
}
